{% extends "page_maitre.html" %}

{% block titre %}
Personnages créés
{% endblock %}

{% block menu %}
<main>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-2 px-0">
        <nav class="d-flex justify-content-start pt-3" aria-label="Navigation secondaire">
          <ul class="nav flex-column align-items-end">
            <li><a class="nav-link m-2" href="/accueil" aria-label="Accueil">Accueil <i
                  class="bi bi-house-fill d-flex justify-content-center align-items-center icon-nav rounded-circle"></i></a>
            </li>
            <li><a class="nav-link m-2" href="/creation" aria-label="Creation">Création <i
                  class="bi bi-lightning-charge-fill d-flex justify-content-center align-items-center icon-nav rounded-circle"></i></a>
            </li>
            <li><a class="nav-link m-2" href="/personnages_crees" aria-label="Personnages Crees">Personnages Crées <i
                  class="bi bi-hexagon d-flex justify-content-center align-items-center icon-nav rounded-circle"></i></a>
            </li>
            <li><a class="nav-link m-2" href="/personnages_par_defaut" aria-label="Personnages par defaut">Personnages
                par défaut <i
                  class="bi bi-journals d-flex justify-content-center align-items-center icon-nav rounded-circle"></i></a>
            </li>
          </ul>
        </nav>
      </div>
{% endblock %}

{% block contenu %}
<div class="col-lg-10 px-0">
  <div class="row mx-0">
    <div class="col-xl-6 px-0 py-3 d-flex justify-content-around align-items-center">
      <div class="card my-3 card-container">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../static/img/Lekaria.png" class="img-fluid rounded-start" alt="Lekaria">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <div class="card-title fs-4 fw-bold">Lekaria</div>
              <div class="card-subtitle mb-2 d-flex align-items-center">
                <div class="d-flex justify-content-center align-items-center icon-nav rounded-circle me-2"><i
                    class="bi bi-book"></i></div>Le Mort-Vivant
              </div>
              <p class="card-text">Le Mort-vivant est une entité qui réside aux confins obscurs du multivers. Votre
                patron peut être Acererak, Azalin, Lord Soth, Strahd, ou tout autre mort-vivant puissant et ancien.</p>
              <a href="#" class="btn btn-primary stretched-link">Découvrir le personnage</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card my-3 card-container">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../static/img/Kriswynn.png" class="img-fluid rounded-start" alt="Kriswynn">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <div class="card-title fs-4 fw-bold">Kriswynn Silverfate</div>
              <div class="card-subtitle mb-2 d-flex align-items-center">
                <div class="d-flex justify-content-center align-items-center icon-nav rounded-circle me-2"><i
                    class="bi bi-link"></i></div>L'Insondable
              </div>
              <p class="card-text">Vous avez fait un pacte avec une entité qui rôde quelque part au plus profond des
                océans, voire dans le plan Élémentaire de l'eau, comme un puissant kraken, un ancien primordial...</p>
              <a href="#" class="btn btn-primary stretched-link">Découvrir le personnage</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6 px-0 py-3 d-flex justify-content-around align-items-center">
      <div class="card my-3 card-container">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../static/img/Zirnetha.png" class="img-fluid rounded-start" alt="Zirnetha">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <div class="card-title fs-4 fw-bold">Zirnetha</div>
              <div class="card-subtitle mb-2 d-flex align-items-center">
                <div class="d-flex justify-content-center align-items-center icon-nav rounded-circle me-2"><i
                    class="bi bi-shield-fill"></i></div>La Lame Maudite
              </div>
              <p class="card-text">Vous avez noué votre pacte avec une mystérieuse entité de la Gisombre, une force qui
                se manifeste dans des armes magiques intelligentes sculptées dans les ombres.</p>
              <a href="#" class="btn btn-primary stretched-link">Découvrir le personnage</a>
            </div>
          </div>
        </div>
      </div>
      <div class="card my-3 card-container">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="../static/img/Quofer.png" class="img-fluid rounded-start" alt="Quofer">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <div class="card-title fs-4 fw-bold">Quofer Cloudeyes</div>
              <div class="card-subtitle mb-2 d-flex align-items-center">
                <div class="d-flex justify-content-center align-items-center icon-nav rounded-circle me-2"><i
                    class="bi bi-gem"></i></div> Le Génie
              </div>
              <p class="card-text">Vous avez conclu un pacte avec une des plus rares sortes de génie, un Génie noble. De
                telles entités règnent sur de vastes territoires des plans élémentaires...</p>
              <a href="#" class="btn btn-primary stretched-link">Découvrir le personnage</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</main>
{% endblock %}