$primary:#493B75;
$primary-o:rgba(73, 59, 117, 0.7);
$success:#81bf28;
$gray-o:rgba(35, 35, 35, 0.7);
$gray-f:#333D46;
$white-o:rgba(255, 255, 255, 0.75);

@font-face {
    font-family: Warlock;
    src: url("../font/H74WARLO.TTF");
}

@import '../node_modules/bootstrap/scss/bootstrap.scss';

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/fond.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

h1 {
    font-family: Warlock;
    color: $success;
    font-size: 9vw;
    text-align: center;
    line-height: 10rem;
    letter-spacing: 0.1em;
    text-shadow: 4px 4px 10px $black;
    position: relative;

    &:before {
        content: url('../img/sorciere-ban.png');
        position: absolute;
        top: -70px;
        left: -310px;
        z-index: 3;
    }

    span {
        font-family: 'Raleway', sans-serif;
        color: $gray-500;
        text-transform: uppercase;
        font-size: 1.7vw;
        letter-spacing: 0.35em;
        font-weight: 700;
        line-height: 5rem;
        text-shadow: 4px 4px 5px $black;
        display: block;
    }
}
@media (max-width:1024px) {
    h1::before {
        display: none;
    }
}

h2 {
    font-family: Warlock;
    color: $primary;
    font-size: 5.5em;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 0.9em;
}
// BOITE FLEX CENTRÉE //
.container-flex-centrer{
    @extend .d-flex;
    @extend .justify-content-center;
    @extend .align-items-center;
}

.navbar {
    background-color: $gray-o;
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    form {
        width: 15%;
        input {
            border: 1px solid $success !important;
        }
        button {
            i {
            color: $success;
            font-size: 1.5rem;
            }
        }
    }
    ul {
        width: 85%;
        justify-content: flex-end;
        li {
            margin-right: 2rem;
            a {
                font-family: 'Raleway', sans-serif;
                text-transform: uppercase;
                font-size: 0.8rem;
                font-weight: 700;
                color: $success !important;
                i {
                    font-size: 1.2rem;
                    margin-right: 0.5rem;
                }
            }
        }
    }
}

header {
    height: 450px;
    background-image: url("../img/banniere.jpg");
    background-size: cover;
}

.nav-secondaire{
    background-color: $gray-o;
    width: 100%;
    height: 100%;

    ul {
        width: 90%;
        a {
            font-family: 'Raleway', sans-serif;
            text-transform: uppercase;
            color: $gray-500;
            font-size: 0.8rem;
            font-weight: 700;
            position: relative;
            &:hover {
                color: $success !important;
            }
            &:focus{
                color: $success !important;
            }
            &:hover .icon-nav {
                animation: wobble 1s ease;
            }
            i {
                position: absolute;
                right: -30px;
                top: 0;
                font-size: 1.3em;
            }
        }
    }
}
.icon-nav {
    width: 35px;
    height: 35px;
    background-color: $gray-f;
    color: $success;
}
@keyframes wobble {

    0%,
    100% {
        transform: translateX(0%);
        transform-origin: 50% 50%;
    }

    15% {
        transform: translateX(-15px) rotate(-6deg);
    }

    30% {
        transform: translateX(7.5px) rotate(6deg);
    }

    45% {
        transform: translateX(-7.5px) rotate(-3.6deg);
    }

    60% {
        transform: translateX(4.5px) rotate(2.4deg);
    }

    75% {
        transform: translateX(-3px) rotate(-1.2deg);
    }
}
// Active //
.active {
    color: $success !important; 
    i {
        border: 1px solid $success !important;
    }
}

// DESCRIPTION ACCUEIL //

.container-description {
    margin: 5em 0;
    border-radius: 10px 0 0 10px;
    background-color: $white-o;
    padding: 1em 0;

    h2 {
        position: relative;
        text-align: center;
        margin: 0.5em 0;
        &:before {
            content: url('../img/symbole-title.png');
            position: absolute;
            top: -40px;
            left: 45px;
        }
    }
}

// FOOTER //

footer {
    background-image: url("../img/banniere.jpg");
    background-size: cover;
    background-position: center;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: $gray-500 !important;
    font-size: 0.8rem;
    font-weight: 700;

    figure{
        figcaption {
            color: $success !important;
            font-size: 0.7em;
            text-align: center;
        }
    }

}

// MODAL //
.modal a:hover {
    text-decoration: underline;
}

// PAGE PERSONNAGES CRÉÉS //
.card-container {
    width: 385px;
    min-height: 285px;
    max-height: 300px;
}

.uni-container {
    max-width: 75%;
    min-width: 75%;
    padding: 3rem;
    margin: 5em auto;
    background-color: $white-o;
    border-radius: 10px;

    h2 {
        position: relative;
        text-align: center;
        margin: 0.5em 0;
    }
}

//ANIMATION//
@mixin fade-in($tempsAttente) {
    animation: wait #{$tempsAttente},
    fade-in 500ms #{$tempsAttente};
}

@keyframes wait {
    0% {
        opacity: 0;
        transform:scale(0);
    }

    100% {
        opacity: 0;
        transform:scale(1);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform:scale(0);
    }

    100% {
        opacity: 1;
        transform:scale(1);
    }
}

.card {
    @include fade-in('500ms');
}

// FORMULAIRE //
fieldset {
    border: 2px solid $white-o;
    border-radius: 10px;
    legend {
        color: $white-o;
        background-color: $primary;
        border-radius: 10px;
    }
}

// FIL D'ARIANE //
.breadcrumb-item {
    font-size:0.8rem;
    font-family: 'Raleway', sans-serif;
    a{
        color:$gray-200 !important;
    }
}
.breadcrumb{
    .active{
        color:$white !important;
    }
}