$primary:#493B75;
$primary-o:rgba(73, 59, 117, 0.7);
$success:#81bf28;
$gray-o:rgba(35, 35, 35, 0.7);
$gray-f:#333D46;
$white-o:rgba(255, 255, 255, 0.75);

@font-face {
    font-family: Warlock;
    src: url("../font/H74WARLO.TTF");
}

@import '../node_modules/bootstrap/scss/bootstrap.scss';

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../img/fond.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

h1 {
    font-family: Warlock;
    color: $success;
    font-size: 9vw;
    text-align: center;
    line-height: 10rem;
    letter-spacing: 0.1em;
    text-shadow: 4px 4px 10px $black;
    position: relative;
}

h1::before {
    content: url('../img/sorciere-ban.png');
    position: absolute;
    top: -70px;
    left: -310px;
    z-index: 3;
}

@media (max-width:1024px) {
    h1::before {
        display: none;
    }
}

h1 span {
    font-family: 'Raleway', sans-serif;
    color: $gray-500;
    text-transform: uppercase;
    font-size: 1.7vw;
    letter-spacing: 0.35em;
    font-weight: 700;
    line-height: 5rem;
    text-shadow: 4px 4px 5px $black;
    display: block;
}

h2 {
    font-family: Warlock;
    color: $primary;
    font-size: 5.5em;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 0.9em;
}

.navbar {
    background-color: $gray-o;
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
}

.navbar form button i {
    color: $success;
    font-size: 1.5rem;
}

.navbar form input {
    border: 1px solid $success !important;
}

.navbar ul {
    width: 85%;
    justify-content: flex-end;
}

.navbar ul li {
    margin-right: 2rem;
}

.navbar ul li a {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    color: $success !important;
}

.navbar ul li a>i {
    font-size: 1.2rem;
    margin-right: 0.5rem;
}

.navbar form {
    width: 15%;
}

header {
    height: 450px;
    background-image: url("../img/banniere.png");
    background-size: cover;
}

main nav {
    background-color: $gray-o;
    width: 100%;
    height: 100%;
}

main nav ul {
    width: 90%;
}

main nav a {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: $gray-500 !important;
    font-size: 0.8rem;
    font-weight: 700;
    position: relative;
}

main nav a:hover {
    color: $success !important;
}

main nav a i {
    position: absolute;
    right: -30px;
    top: 0;
    font-size: 1.3em;
}

.icon-nav {
    width: 35px;
    height: 35px;
    background-color: $gray-f;
    color: $success;
}

main nav a:hover .icon-nav {
    animation: wobble 1s ease;
}

@keyframes wobble {

    0%,
    100% {
        transform: translateX(0%);
        transform-origin: 50% 50%;
    }

    15% {
        transform: translateX(-15px) rotate(-6deg);
    }

    30% {
        transform: translateX(7.5px) rotate(6deg);
    }

    45% {
        transform: translateX(-7.5px) rotate(-3.6deg);
    }

    60% {
        transform: translateX(4.5px) rotate(2.4deg);
    }

    75% {
        transform: translateX(-3px) rotate(-1.2deg);
    }
}

.container-description {
    margin: 5em 0;
    border-radius: 10px 0 0 10px;
    background-color: $white-o;
    padding: 1em 0;
}

.container-description h2 {
    position: relative;
    text-align: center;
    margin: 0.5em 0;
}

.container-description h2::before {
    content: url('../img/symbole-title.png');
    position: absolute;
    top: -40px;
    left: 45px;
}

footer {
    background-image: url("../img/banniere.png");
    background-size: cover;
    background-position: center;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    color: $gray-500 !important;
    font-size: 0.8rem;
    font-weight: 700;
}

footer figure figcaption {
    color: $success !important;
    font-size: 0.7em;
    text-align: center;
}

.modal a:hover {
    text-decoration: underline;
}

.card-container {
    width: 385px;
    min-height: 285px;
    max-height: 300px;
}

.uni-container {
    max-width: 75%;
    min-width: 75%;
    padding: 3rem;
    margin: 5em auto;
    background-color: $white-o;
    border-radius: 10px;
}

.uni-container h2 {
    position: relative;
    text-align: center;
    margin: 0.5em 0;
}

//ANIMATION//
@mixin fade-in($tempsAttente) {
    animation: wait #{$tempsAttente},
    fade-in 500ms #{$tempsAttente};
}

@keyframes wait {
    0% {
        opacity: 0;
        transform:scale(0);
    }

    100% {
        opacity: 0;
        transform:scale(1);
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform:scale(0);
    }

    100% {
        opacity: 1;
        transform:scale(1);
    }
}

.card {
    @include fade-in('500ms');
}

//ACTIVE//
.active {
    color: $success !important;
}

.active>i {
    border: 1px solid $success !important;
}

//FORM//
fieldset {
    border: 2px solid $white-o;
    border-radius: 10px;
}

legend {
    color: $white-o;
    background-color: $primary;
    border-radius: 10px;
}

//BREADCRUMB//
.container-fluid>.row>nav{
    background-color: $primary-o !important;
}